<title>Đăng Ký</title>
<section class="section-padding"></section>
<section class="section-paddinghai"></section>

<div class="row">
	<div class="col-lg-3 col-md-4 mt-sm-30">
	</div>
	<div class="col-lg-6 col-md-4 card card-default rounded-0 shadow blur" style="border:1px solid black">
		<h1 class="mb-30 text-center mt-30">Đăng Ký</h1>
		<form action="/register" method="POST">
			<div class="mt-10" style="border:1px solid black" >
				<input type="text" name="taikhoan" placeholder="Tên tài khoản" class="single-input"
					<% if (typeof taikhoan != "undefined" && taikhoan) { %> value="<%= taikhoan %>" <% } %> required>
			</div>
			<div class="mt-10" style="border:1px solid black">
				<input type="password" name="matkhau" placeholder="Password" class="single-input"
					<% if (typeof matkhau != "undefined" && matkhau) { %> value="<%= matkhau %>" <% } %> required>
			</div>
			<div class="mt-10" style="border:1px solid black">
				<input type="text" name="email" placeholder="Email" class="single-input"
					<% if (typeof email != "undefined" && email) { %> value="<%= email %>" <% } %> required>
			</div>





			<% if (typeof conflictError != "undefined" && conflictError) { %>
			<div class="text-danger text-left  mb-3"><%= conflictError %></div>
			<% } %>


			<!-- <div class="mt-10">
				<input type="text" name="first_name" placeholder="First Name"
				onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
				class="single-input">
			</div>
			<div class="mt-10">
				<input type="text" name="last_name" placeholder="Last Name"
				onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
				class="single-input">
			</div>
			<div class="mt-10">
				<input type="text" name="last_name" placeholder="Last Name"
				onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
				class="single-input">
			</div>
			<div class="mt-10">
				<input type="email" name="EMAIL" placeholder="Email address"
				onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
				class="single-input">
			</div>
			<div class="input-group-icon mt-10">
				<div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
				<input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
				onblur="this.placeholder = 'Address'" required class="single-input">
			</div>
			<div class="input-group-icon mt-10">
				<div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
				<div class="form-select" id="default-select"">
					<select>
						<option value=" 1">City</option>
						<option value="1">Dhaka</option>
						<option value="1">Dilli</option>
						<option value="1">Newyork</option>
						<option value="1">Islamabad</option>
					</select>
				</div>
			</div>
			<div class="input-group-icon mt-10">
				<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
				<div class="form-select" id="default-select"">
					<select>
						<option value=" 1">Country</option>
						<option value="1">Bangladesh</option>
						<option value="1">India</option>
						<option value="1">England</option>
						<option value="1">Srilanka</option>
					</select>
				</div>
			</div>
			
			<div class="mt-10">
				<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''"
				onblur="this.placeholder = 'Message'" required></textarea>
			</div>
			<div class="mt-10">
				<input type="text" name="first_name" placeholder="Primary color"
				onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'" required
				class="single-input-primary">
			</div>
			<div class="mt-10">
				<input type="text" name="first_name" placeholder="Accent color"
				onfocus="this.placeholder = ''" onblur="this.placeholder = 'Accent color'" required
				class="single-input-accent">
			</div>
			<div class="mt-10">
				<input type="text" name="first_name" placeholder="Secondary color"
				onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secondary color'"
				required class="single-input-secondary">
			</div> -->
			<div class="mt-10 text-center  mb-10">
				<input class="genric-btn info circle " type="submit">
			</div>
		</form>
	</div>
	<div class="col-lg-3 col-md-4 mt-sm-30">
	</div>
</div>