<!-- START PAGE CONTENT-->
<div class="page-heading">
    <h1 class="page-title">Đổi Mật Khẩu</h1>

</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="ibox">
                <div class="ibox-body text-center">
                    <div class="m-t-20">
                        <img class="img-circle" src="/images/avatarad/<%= nhanvien.hinhdd %>" />
                    </div>
                    <h5 class="font-strong m-b-10 m-t-10"><%= nhanvien.tennv %></h5>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8">
            <div class="ibox">
                <div class="ibox-body">
                    <form action="/admin/doimatkhau/<%= nhanvien.manv %>" id="form-sample-1" method="post">
                        <input type="hidden" name="_method" value="put" />
                      
                        <% if (typeof conflictError != "undefined" && conflictError) { %>
                            <div class="text-danger text-left  mb-3"><%= conflictError %></div>
                            <% } %>
                            
                        <div class="form-group">
                            <label>Mật Khẩu Cũ</label>

                            <input class="form-control" type="password" name="matkhaucu"
                                placeholder="Nhập Password cũ" required>
                        </div>
                        <div class="form-group">
                            <label>Mật Khẩu Mới</label>

                            <input id="password-field" class="form-control" type="password"
                                name="matkhaumoi" placeholder="Nhập Password mới" required>
                        </div>

                        <div class="form-group">
                            <label>Xác Nhận Mật Khẩu Mới</label>

                            <input id="password-field" class="form-control" type="password"
                                name="matkhaumoixn" placeholder="Nhập Password mới" required>
                        </div>

                        <div class="text-danger text-left  mb-3">
                            Chú Ý: Mật khẩu phải dài hơn 8 ký tự, cả chữ thường và chữ in hoa, ít nhất một
                            số và một ký tự đặc biệt ví
                            dụ: 012345Kh*
                        </div>

                        <div class="form-group">
                            <input class="btn btn-info btn-rounded" type="submit" value="Đổi">
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
<style>
    .profile-social a {
        font-size: 16px;
        margin: 0 10px;
        color: #999;
    }

    .profile-social a:hover {
        color: #485b6f;
    }

    .profile-stat-count {
        font-size: 22px
    }
</style>

</div>

<div style="height: 350px;"></div>

<!-- Sử dụng cho jquery - validation -->
<script src="/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#form-sample-1").validate({
        rules: {
            matkhaucu: {
                required: !0,
                rangelength: [8, 50]
            },
            matkhaumoi: {
                required: !0,
                rangelength: [8, 50],
            },
            matkhaumoixn: {
                required: !0,
                rangelength: [8, 50],
            },
        },
        errorClass: "help-block error",
        highlight: function (e) {
            $(e).closest(".form-group.row").addClass("has-error")
        },
        unhighlight: function (e) {
            $(e).closest(".form-group.row").removeClass("has-error")
        },
    });
</script>