<title>Hướng Dẫn Sử Dụng</title>

<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">HƯỚNG DẪN SỬ DỤNG</div>
        </div>
        <div class="ibox-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#00" data-toggle="tab">Tài Khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#1" data-toggle="tab">Đơn Đặt Lịch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#2" data-toggle="tab">Đơn Đặt Hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#3" data-toggle="tab">Sản Phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#4" data-toggle="tab">Danh Mục</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#5" data-toggle="tab">Nhà Cung Cấp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#6" data-toggle="tab">Nhập Hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#7" data-toggle="tab">Loại Xe</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#9" data-toggle="tab">Khách Hàng</a>
                        <a class="dropdown-item" href="#9" data-toggle="tab">Nhân Viên</a>
                        <a class="dropdown-item" href="#10" data-toggle="tab">Tham Số</a>
                        <a class="dropdown-item" href="#11" data-toggle="tab">Bài Viết</a>
                        <a class="dropdown-item" href="#12" data-toggle="tab">Trạng Thái</a>
                        <a class="dropdown-item" href="#13" data-toggle="tab">Thống Kê</a>
                        <a class="dropdown-item" href="#14" data-toggle="tab">Soạn Mail</a>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="00">

                    Chào mừng bạn đến với hướng dẫn sử dụng Admin của Website Bán Hàng và Đặt Lịch Rửa Xe.
                    </br>
                    Trong phần này, chúng ta sẽ tìm hiểu cách quản lý Tài khoản Cá nhân của bạn thông qua giao diện
                    Admin của trang web.
           
                    <ul>
                    </br>

                        <li>
                            Để quản lý Tài khoản Cá nhân của bạn, chọn tùy chọn "Trang Cá Nhân".
                            Bạn có thể cập nhật thông tin cá nhân của mình như tên, địa chỉ, số điện thoại, v.v.

                        <li>
                            Thay đổi thông tin cá nhân: 
                            Chọn tùy chọn "Chỉnh sửa" để thay đổi thông tin cá nhân của bạn và nhấn "Lưu" để thay đổi 
                        </li>

                        <li>
                            Thay đổi mật khẩu:
                            Để thay đổi mật khẩu, chọn tùy chọn "Đổi mật khẩu".
                            Nhập mật khẩu hiện tại và mật khẩu mới của bạn.
                            Xác nhận mật khẩu mới và nhấn "Lưu" để thay đổi mật khẩu của bạn.
                        </li>

                        <li>
                            Thay đổi email:
                            Để thay đổi mật khẩu, chọn tùy chọn "Đổi Email".
                            Nhập Email mới
                            Nhấn "Lưu" để thay đổi Email của bạn.
                        </li>
                        <li>
                            Xác thực tài khoản:
                            Để thay xác thực tài khoản, chọn tùy chọn "Xác Thực".
                            Hệ thống sẽ gửi một địa chỉ liên kết đến email tài khoản của bạn
                            Bạn vào email và xác thực tài khoản.
                        </li>
                    </ul>

                    Để thoát khỏi hệ thống bạn chọn tùy chọn "Đăng xuất" để thoát khỏi
                    tài khoản Admin.

                </div>
                <div class="tab-pane fade" id="1">

                    Bảng Tham Số dùng để lưu trữ các tham số cần thiết.
                    <ul>
                        <li>Mã Tham số: 1, Số lượng xe mà cửa hàng có thể phục vụ trong một khung giờ (30p) dùng để giới
                            hạn lượt đặt lịch hẹn rửa xe của khách hàng.
                            <ul>
                                <li> Ví dụ: MTS : 1 có giá trị là 5. Khung giờ 7:30 Ngày 01/05/2023 đã có 5 đơn đặt
                                    lịch. Khi khách hàng đặt lịch thì khung giờ 7:30 Ngày 01/05/2023 sẽ không được hiển
                                    thị trên màn hình.</li>
                            </ul>
                        </li>
                        <li>Mã Tham số: 2, Số lượng tối đa đơn đặt lịch của một khách hàng trong một ngày.</li>
                        <ul>
                            <li>Tránh Spam</li>
                        </ul>
                        <li>Mã Tham số: 3, Số lượng tối đa đơn đặt hàng của một khách hàng trong một ngày.</li>
                        <ul>
                            <li>Tránh Spam</li>
                        </ul>
                    </ul>

                    <h5 style="color: red;">Cẩn thận khi chỉnh sửa bảng tham số.</h5>

                </div>
                <div class="tab-pane fade" id="10">

                    Bảng Tham Số dùng để lưu trữ các tham số cần thiết.
                    <ul>
                        <li>Mã Tham số: 1, Số lượng xe mà cửa hàng có thể phục vụ trong một khung giờ (30p) dùng để giới
                            hạn lượt đặt lịch hẹn rửa xe của khách hàng.
                            <ul>
                                <li> Ví dụ: MTS : 1 có giá trị là 5. Khung giờ 7:30 Ngày 01/05/2023 đã có 5 đơn đặt
                                    lịch. Khi khách hàng đặt lịch thì khung giờ 7:30 Ngày 01/05/2023 sẽ không được hiển
                                    thị trên màn hình.</li>
                            </ul>
                        </li>
                        <li>Mã Tham số: 2, Số lượng tối đa đơn đặt lịch của một khách hàng trong một ngày.</li>
                        <ul>
                            <li>Tránh Spam</li>
                        </ul>
                        <li>Mã Tham số: 3, Số lượng tối đa đơn đặt hàng của một khách hàng trong một ngày.</li>
                        <ul>
                            <li>Tránh Spam</li>
                        </ul>
                    </ul>

                    <h5 style="color: red;">Cẩn thận khi chỉnh sửa bảng tham số.</h5>

                </div>
                <div class="tab-pane" id="12">
                    Bảng Trạng Thái dùng để lưu trữ các trạng thái của đơn hàng.
                    <ul>
                        <li>
                            Chờ Xác Nhận: Trạng thái đầu tiên khi khách hàng đặt hàng hoặc đặt lịch. Chờ phía cửa hàng
                            xác nhận.
                        </li>
                        <li>
                            Đã Xác Nhận: Nhân viên bên cửa hàng đã xác nhận đặt hàng hoặc đặt lịch.
                        </li>
                        <li>
                            Hủy: Vì một số lí do nào đó đơn đặt hàng hoặc đặt lịch bị hủy. ví dụ: khách hàng không muốn
                            nhận nữa.
                        </li>
                        <li>
                            Thành Công: Đơn đặt hàng đã được giao cho khách hàng hoặc xe của khách hàng đã được rửa
                            thành công.
                        </li>
                        <li>
                            Đã Giao Cho Đơn Vị Vận Chuyển: Nhân viên cửa hàng đã gửi sản phẩm bên phía đơn vị vận chuyển
                            và đợi giao đến khách hàng.
                        </li>
                    </ul>

                </div>
                <div class="tab-pane fade" id="13">
                    Các chức năng thống kê:
                    <ul>
                        <li>
                            Chờ Xác Nhận: Trạng thái đầu tiên khi khách hàng đặt hàng hoặc đặt lịch. Chờ phía cửa hàng
                            xác nhận.
                        </li>
                        <li>
                            Đã Xác Nhận: Nhân viên bên cửa hàng đã xác nhận đặt hàng hoặc đặt lịch.
                        </li>
                        <li>
                            Hủy: Vì một số lí do nào đó đơn đặt hàng hoặc đặt lịch bị hủy. ví dụ: khách hàng không muốn
                            nhận nữa.
                        </li>
                        <li>
                            Thành Công: Đơn đặt hàng đã được giao cho khách hàng hoặc xe của khách hàng đã được rửa
                            thành công.
                        </li>
                        <li>
                            Đã Giao Cho Đơn Vị Vận Chuyển: Nhân viên cửa hàng đã gửi sản phẩm bên phía đơn vị vận chuyển
                            và đợi giao đến khách hàng.
                        </li>
                    </ul>



                </div>

            </div><br>
        </div>
    </div>



</div>
<div style="height: 480px;"></div>