<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Admin - Tài Cam Ranh</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="/assets/css/main.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="/assets/css/pages/auth-light.css" rel="stylesheet" />
</head>

<body class="bg-silver-300">
    <div class="content">
        <div class="brand">
            <a class="link" href="/admin/login">Admin TCR</a>
        </div>

        <form id="login-form" action="/admin/login" method="POST">
            <h2 class="login-title">Đăng Nhập</h2>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-user"></i></div>
                    <input type="text" name="taikhoan" class="form-control" placeholder="Nhập tên tài khoản"
                        <% if (typeof taikhoan != "undefined" && taikhoan) { %> value="<%= taikhoan %>" <% } %>
                        required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                    <input type="password" id="password-field" class="form-control" name="matkhau"
                        placeholder="Nhập Password" required>
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="">
                    Hiển thị
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                <a href="/admin/password/reset" class="genric-btn link-border circle">Quên Mật Khẩu</a>
            </div>

            <% if (typeof conflictError != "undefined" && conflictError) { %>
            <div class="text-danger text-left  mb-3"><%= conflictError %></div>
            <% } %>

            <div class="form-group">
                <button class="btn btn-info btn-block" type="submit">Đăng Nhập</button>
            </div>
        </form>
    </div>

    <!-- CORE PLUGINS -->
    <script src="/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL PLUGINS -->
    <script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <!-- CORE SCRIPTS-->
    <script src="/assets/js/app.js" type="text/javascript"></script>
</body>
</html>

<script src="/home/login/js/jquery.min.js"></script>
<script src="/home/login/js/main.js"></script>


<script>
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    var status = getUrlParameter('status');

    if (status == 'doimkthanhcong') {
        alert("Đổi mật khẩu mới thành công. Vui lòng đăng nhập!");
    }
</script>