<title>Đổi Mật Khẩu</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-7">
            <% if (typeof status !== 'undefined') { %>
                <%if (status == 'success') { %>

                <div class="ibox ibox-success">
                    <div class="ibox-head">
                        <div class="ibox-title">
                     
                            <div style="color: rgb(255, 255, 255);">
                                Đổi Mật Khẩu Thành Công!
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                        </div>

                <% } else { %>
                    <%if (status == 'error') { %>
                <div class=" ibox ibox-danger">
                    <div class="ibox-head">
                            <div class="ibox-title">
                              
                                    <div style="color: rgb(255, 255, 255);">
                                        Đã xảy ra lỗi khi đổi mật khẩu!
                                    </div>
                            </div>
                            <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                            </div>
                        <% } else { %>
                            <div class="ibox ibox-info">
                                <div class="ibox-head">
                                    <div class="ibox-title">
                                      
                                        <div style="color: rgb(255, 255, 255);">
                                          
                                        </div>
                                    </div>
                                    <div class="ibox-tools">
                                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                    </div>
                            <% } %>
                <% } %>
            <% } else { %>
            <div class="ibox ibox-info">
                <div class="ibox-head">
                    <div class="ibox-title">
                    
                        <div style="color: rgb(255, 255, 255);">
                          Đổi Mật Khẩu
                        </div>
                    </div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
            <% } %>
                </div>

                <div class="ibox-body">
                    <form action="/admin/khachhang/doimatkhau/<%= khachhang.makh %>" class="form-horizontal"
                        id="form-sample-1" method="post" novalidate="novalidate"
                        onSubmit="return confirm('Bạn có chắc chắn muốn thay đổi mật khẩu?') "
                        >
                        <input type="hidden" name="_method" value="put" />

                        <% if (typeof conflictError != "undefined" && conflictError) { %>
                            <div class="text-danger text-left  mb-3"><%= conflictError %></div>
                            <% } %>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tài Khoản</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="taikhoan" readonly
                                    <% if (typeof khachhang.taikhoan != "undefined" && khachhang.taikhoan) { %>
                                        value="<%= khachhang.taikhoan %>" <% } %>
                                     >
                                </div>
                            </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mật Khẩu Mới</label>
                            <div class="col-sm-10">
                                <input class="form-control"  id="password-field" type="password" name="matkhaumoi">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">

                            </label>
                                  <div class="col-sm-10">
                                    Hiển thị 
                                    <span toggle="#password-field"
                                            class="fa fa-fw fa-eye field-icon toggle-password"></span> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Xác Nhận Mật Khẩu Mới</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" name="matkhaumoixn">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10 ml-sm-auto">
                                <button class="btn btn-info btn-rounded " type="submit">Cập Nhật</button>
                                <a href="/admin/khachhang/details/<%= khachhang.makh %>" class="btn btn-info btn-rounded">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>

<div style="height: 480px;"></div>

<script src="/home/login/js/jquery.min.js"></script>
<script src="/home/login/js/main.js"></script> 

<!-- Sử dụng cho jquery - validation -->
<script src="/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#form-sample-1").validate({
        rules: {
            matkhaucu: {
                rangelength: [8, 50],
                required: !0
            },
            matkhaumoixn: {
                required: !0,
                rangelength: [8, 50],
            },
            matkhaumoi: {
                required: !0,
                rangelength: [8, 50],
            },
        },
        errorClass: "help-block error",
        highlight: function(e) {
            $(e).closest(".form-group.row").addClass("has-error")
        },
        unhighlight: function(e) {
            $(e).closest(".form-group.row").removeClass("has-error")
        },
    });
</script>