<title>Đổi Mật Khẩu Mới</title>

<div class="row">
	<div class="col-lg-3 col-md-4 mt-sm-30">
	</div>
	<div class="col-lg-6 col-md-4 card card-default rounded-0 shadow blur" style="border: 1px solid #ccc;">
		<h1 class="mb-20 text-center mt-20">Đổi Mật Khẩu</h1>
		<form action="/password/reset" method="POST">
			<input type="hidden" value="<%= token %>" name="token">

			<div class="" style="border: 1px solid #ccc;">
				<input type="text" name="email" class="single-input" placeholder="Email" value="<%= email %>" required
					readonly>
			</div>
			<div class="mt-10" style="border: 1px solid #ccc;">
				<input id="password-field" maxlength="40" type="password" name="matkhau"
					placeholder="Nhập Password mới" required class="single-input">
			</div>

			<div class="mt-10" style="border: 1px solid #ccc;">
				<input id="password-field" maxlength="40" type="password" name="matkhauxn"
					placeholder="Xác nhận Password mới" required class="single-input">
			</div>

			</br>

			<div class="text-danger text-left  mb-3">
				Chú Ý: Mật khẩu phải dài hơn 8 ký tự, cả chữ thường và chữ in hoa, ít nhất một số và một ký tự đặc biệt
				ví dụ: 012345Kh*
			</div>
			<div class="mt-10 text-center  mb-10">
				<input class="genric-btn info circle " type="submit">
			</div>
		</form>
	</div>
</div>




<script>
	const url = window.location.href;
	const status = url.slice(url.lastIndexOf('=') + 1);

	if (status == 'thatbai') {
		alert("Mật khẩu chưa đúng định dạng!");
	}

	if (status == 'xnchuadung') {
		alert("Mật khẩu mới và mật khẩu mới xác nhận chưa đúng!");
	}

</script>