<section class=" section-padding">
</section>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<main>
    <div class="section py-5">
        <div class="container">
            <h1 class="text-center"><b>Dịch Vụ Của Chúng Tôi</b></h1>
            <table>
                <tr>
                  <th>Tên Dịch Vụ</th>
                  <th>Thời Gian</th>
                  <th>Mô Tả</th>
                  <th>Giá Tiền</th>
                </tr>
                <% dichvu.forEach((item) => { %>
                    <tr>
                        <td><%= item.tendv %></td>
                        <td><%= item.thoigian %></td>
                        <td><%= item.motact	%></td>
                        <td><%= item.giatien %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</main>