<title>Dịch Vụ</title>
<section class=" section-padding">
</section>
<section class=" section-paddinghai">
</section>
<div class="section-tittle text-center">
    <h2>Dịch Vụ Của Chúng Tôi</h2>
</div>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

  
        <div class="container">
            <table>
                <tr>
                  <th>Tên Dịch Vụ</th>
                  <th>Thời Gian</th>
                  <th>Mô Tả</th>
                  <th>Giá Tiền</th>
                </tr>
                <% dichvu.forEach((item) => { %>
                    <tr>
                        <td><%= item.tendv %></td>
                        <td><%= item.thoigian %></td>
                        <td><%= item.motact	%></td>
                        <td><%= item.giatien %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    
