<main>
    <!-- slider Area Start-->
    <div class="container-fluid">
        <div class="slider-area position-relative">
            <div class="slider-active dot-style">
                <!-- Single Slider -->
                <div class="single-slider  slider-height slider-bg1 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-11 col-md-11">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s">Rửa Xe</h1>
                                    <div class="hero-details">
                                        <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                            <h2>& Chăm Sóc</h2>
                                            <h2>& Chăm Sóc</h2>
                                        </div>
                                        <P data-animation="fadeInUp" data-delay=".4s">Chào mừng bạn đến với hệ thống đặt lịch hẹn rửa xe và chăm sóc xe của TaiCamRanh</P>
                                        <!-- Hero-btn -->
                                        <div class="hero__btn">
                                            <a href="dichvu" class="btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Dịch Vụ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? Office environment  Start-->
    <!-- <section class="office-environments" >
        <div class="container">
            <div class="environments-wrapper section-bg02" data-background="assets/img/gallery/section_bg02.png">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 offset-xl-5 offset-lg-4">
                        <div class="office-pera">
                            <div class="section-tittle">
                                <h2 class="mb-30">We have the latest  equipment</h2>
                                <p>Duis aute irure dolor inasfa reprehenderit in voluptate velit esse cillum reeut cupidatatfug nulla pariatur. Excepteur sintxsdfas occaecat.</p>
                                <a href="#" class="btn">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Office environment  End-->
    <!--? Pricing Card Start -->
    <section class="pricing-card-area fix ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10">
                    <div class="section-tittle text-center mt-70 mb-60">
                        <h2>Ảnh Tại TaiCamRanh</h2>
                    </div>
                </div>
            </div>
                <div class="row gallery-item">
                    <div class="col-md-4">
                        <a href="assets/img/elements/g1.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g1.jpg);"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="assets/img/elements/g2.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g2.jpg);"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="assets/img/elements/g3.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g3.jpg);"></div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="assets/img/elements/g4.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g4.jpg);"></div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="assets/img/elements/g5.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g5.jpg);"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="assets/img/elements/g6.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g6.jpg);"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="assets/img/elements/g7.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g7.jpg);"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="assets/img/elements/g8.jpg" class="img-pop-up">
                            <div class="single-gallery-image" style="background: url(assets/img/elements/g8.jpg);"></div>
                        </a>
                    </div>
                </div>
       


        </div>
    </section>
  
  
    <section class="categories-area ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10">
                    <div class="section-tittle text-center mb-90">
                        <h2>Đặt Lịch Hẹn Ngay</h2>
                    </div>
                </div>
            </div>
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Chất Lượng</h5>
                            <p>Chất lượng dịch vụ là mục tiêu hướng đến của TaiCamRanh trong việc cung cấp dịch vụ rửa xe và chăm sóc xe chuyên nghiệp.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services2.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Tiện Lợi</h5>
                            <p>Với hệ thống rửa xe tự động hiệu quả và chuyên nghiệp nhất Việt Nam. Chúng tôi tự tin cung cấp dịch vụ rửa xe nhanh nhất cho khách hàng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services3.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Nhân Viên</h5>
                            <p>Các nhân viên rửa xe và detailers của TaiCamRanh được đào tạo những kỹ năng trong nghề với nhiều cập nhật kiến thức mới nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services4.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Giá Trị Dịch Vụ</h5>
                            <p>Chúng tôi cung cấp rất nhiều dịch vụ đáp ứng nhu cầu của khách hàng với giá cả phù hợp. Ngoài ra, chúng tôi còn cung cấp rất nhiều combo rửa xe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
</br>
</br>
</br>

    <div class="maps-area">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <img src="assets/img/gallery/map.png" alt="" class="w-100">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <img src="assets/img/gallery/map-left.png" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</main>