<title>Về TaiCamRanh</title>
<section class=" section-padding">
</section>
<section class=" section-paddinghai">
</section>
<div class="section-tittle text-center">
    <h2>Về TaiCamRanh</h2>
</div>

<div class="container">
    <!-- section Tittle -->
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-10 col-sm-11">
            <div class="section-tittle mb-60">

                <p>
                    TaiCamRanh là cửa hàng rửa xe và chăm sóc xe thân thiện với môi trường tại Việt Nam.
                    Hàng ngàn khách hàng hài lòng tại TPHCM bởi hệ thống máy rửa xe tự động tiện lợi cùng với
                    các dịch vụ chăm sóc xe như đánh bóng xe, vệ sinh khoang máy, nội thất chuyên nghiệp.
                    Sự kết hợp của chúng tôi về việc sử dụng sức mạnh của công nghệ hơi nước nóng,
                    rửa xe tự động vào việc chăm sóc chi tiết xe hơi không chỉ mang lại vẻ ngoài và nội thất sạch sẽ,
                    toả sáng cho chiếc xe của bạn mà còn giúp cho khách hàng tiết kiệm thời gian tối đa.

                    </br>
                    ✔ Chúng tôi sở hữu đội ngũ nhân viên thân thiện và chuyên nghiệp
                    </br>
                    ✔ Hệ thống máy rửa xe tự động, dụng cụ và dung dịch chăm sóc chất lượng
                    </br>
                    ✔ Cam kết làm khách hàng hài với mỗi dịch vụ của TaiCamRanh
                    </br>
                    ✔ Các dịch vụ chăm sóc xe hơi của TaiCamRanh đảm bảo chất lượng với giá thành cạnh tranh

                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-md-10 col-sm-11">
            <div class="section-tittle mb-60">

                <img class="img-fluid" src="assets/img/post/post_11.png" alt="">
            </div>
        </div>
    </div>

</div>



<div class="container">
    <div class="section-tittle text-center mb-90">
        <h2>Những Câu Hỏi Phổ Biến</h2>
    </div>
    <!-- section Tittle -->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="cat-icon">
                    <img src="assets/img/icon/services1.svg" alt="">
                </div>
                <div class="cat-cap">
                    <h5>Chất lượng dịch vụ rửa xe tại TaiCamRanh thế nào?</h5>
                    <p>TaiCamRanh cam kết chất lượng dịch vụ rửa xe đảm bảo an toàn cho lớp sơn xe của khách hàng.
                        Nhân viên kinh nghiệm với những kỹ năng tuyệt vời sẽ giúp xe của bạn sạch và sáng bóng.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="cat-icon">
                    <img src="assets/img/icon/services2.svg" alt="">
                </div>
                <div class="cat-cap">
                    <h5>Các dịch vụ chăm sóc xe của TaiCamRanh là gì?</h5>
                    <p>TaiCamRanh cung cấp nhiều dịch vụ đa dạng, tuỳ thuộc vào tình trạng xe và nhu cầu
                        của khách hàng.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="cat-icon">
                    <img src="assets/img/icon/services3.svg" alt="">
                </div>
                <div class="cat-cap">
                    <h5>Giá rửa xe ở TaiCamRanh có đắt không ?</h5>
                    <p>
                        TaiCamRanh là trung tâm rửa xe ô tô và chăm sóc
                        Với công nghệ mới giúp khách hàng tiết kiệm thời gian tối đa,
                        đồng thời đáp ứng nhu cầu rửa xe và chăm sóc xe cao cấp của khách hàng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>