
    <div class="row">
        <button></button>
        <a href="/khachhang/thanhtoantc/?status=dhtctaich" class="genric-btn info circle ">Thanh Toán Tại Cửa Hàng</a>
        <a href="/" class="genric-btn info circle ">Thanh Toán Online</a>
    </div>


    <script>
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    
        var status = getUrlParameter('status');
    
        console.log(status);
    
        if (status == 'taothanhcong'){
            alert("Tạo đơn hàng thành công, vui lòng chọn cách thức thanh toán!");
        }

    </script>

    