
<section class="section-paddinghai">
</section>

<!-- <div style="background-color: rgb(244, 247, 250);"> -->
<!-- <section class="section-padding">
</section> -->

<!-- </br>
</br> -->

<footer  >
</br>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a href="/"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>TaiCamRanh là hệ thống rửa xe, chăm sóc & nâng cấp xe ô tô - xe máy chuyên nghiệp tại Việt Nam với các của hàng tại Cam Ranh.</p>
                                    </div>
                                    <ul class="mb-40">
                                        <li class="number"><a href="#">0377975929</a></li>
                                        <li class="number2"><a href="#">taicamranh79@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>GIỜ MỞ CỬA</h4>
                                <ul>
                                    <li>Làm Việc Cả Tuần</li>
                                    <li>7.00 AM - 18.00 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>XEM THÊM</h4>
                                <ul>
                                    <li><a href="/">Trang Chủ</a></li>
                                    <li><a href="vetcr">Về TaiCamRanh</a></li>
                                    <li><a href="shop">Shop</a></li>
                                    <li><a href="baiviet">Bài Viết</a></li>
                                    <li><a href="lienhe">Liên Hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    
     
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                             <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  

</footer>


