<!DOCTYPE html> 
<html> 
<title>Stripe Payment Demo</title> 
<body> 
	<h3>Welcome to Payment Gateway</h3> 
	<form action="payment" method="POST"> 
	<script
		src="//checkout.stripe.com/v2/checkout.js"
		class="stripe-button"
		data-key="<%= key %>" 
		data-amount="8000" 
		data-currency="usd" 
		data-name="Gautam Sharma" 
		data-description="Buy React.js Complete Course" 
		data-locale="auto" > 
		</script> 


<div class="mt-10" style="border:1px solid black" >
	<input type="text" name="mahdrx" class="single-input" 
	<% if (typeof mahdrx != "undefined" && mahdrx) { %> value="<%= mahdrx %>"<% } %>  required>
</div>
	</form> 

	<h1><%= mahdrx %></h1>


</body> 
</html> 