<title>Thanh Toán Online</title>



<div class="container">
    <div class="justify-content-center">
	
	<form action="payment" method="POST"> 
	<script
		src="//checkout.stripe.com/v2/checkout.js"
		class="stripe-button"
		data-key="<%= key %>" 
		data-amount="8000" 
		data-currency="usd" 
		data-name="Tài Cam Ranh" 
		data-description="Thanh Toán" 
		data-locale="auto" > 
		</script> 

		<h3>Thanh toán cho hóa đơn: </h3> 

		<div class="mt-10"  >
			<input type="text" name="mahdrx" class="single-input" 
			<% if (typeof mahdrx != "undefined" && mahdrx) { %> value="<%= mahdrx %>"<% } %>  required readonly>
		</div>
	</form> 
</div>
</div>


<script>
	function getUrlParameter(name) {
		name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
		var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
		var results = regex.exec(location.search);
		return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
	};

	var status = getUrlParameter('status');

	console.log(status);

	if (status == 'taothanhcong'){
		alert("Tạo đơn hàng thành công vui lòng thanh toán!");
	}

</script>